---
layout: pageminimal
permalink: /notes/
title: Chapter Notes
description: "An archive of notes sorted by date."
---

<ul class="post-list">

{% for post in site.posts %}
{% if post.tags contains 'notes' %}
<li>
<article>
  <i class="fa fa-star-half-empty"></i>
  <a href="{{ site.url }}{{ post.url }}">
    {{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span>
  </a>
</article>
</li>
{% endif %}
{% endfor %}
</ul>
